*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root{
    font-size: 62.5%;

    --ff-standard: "Roboto", sans-serif;

    --cc-white-100: #FFF;
    --cc-black-100: #000;
    --cc-white-80: #E1E1E6;
    --bg-input-button: #065E7C;
    --bg-input-label:#06181C;
    --bg-thead:#092D38;
    --cc-button-act:#F75A68;
}

body{
    background-color: black;
    color: var(--cc-white-80);
    
    font-size: 1.6rem;
}
body, *,button{
    font-family: var(--ff-standard);

}

#app{
    max-width: 1000px;
    margin: 0 auto;
    padding: 5rem;
}

header{
    display: flex;
    align-items: end;
    justify-content:space-between;

    margin: 11.2rem 0 8.8rem 0;
    
}

header figure img{
    height: 3.2rem;
}

header label {
    display: none;
}

.search{
    display: flex;
    align-items: center;
    gap: .8rem;
}

.search input {
    height: 4.8rem;
    width: 38rem;
    border-radius: 5px;
    padding: 1.2rem 3.2rem;
    border:none;

    font-size: 1.6rem;

    background: var(--bg-input-label);
}

.search button{
    height: 4.8rem;
    padding: 1.2rem 3.2rem;
    border: none;   
    border-radius: 5px;

    background: var(--bg-input-button);

    display: flex;
    text-align: center;
    align-items: center;
    gap:.8rem;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;

    color: var(--cc-white-100);

    cursor: pointer;

    transition: .3s;
}
.search button:hover{
    background-color: #4A808C;
}

#table{
    width: 90rem;
    display: flex;
    flex-direction: column;
    border: 1px solid #4A808C;

    border-radius: 1.2rem;
    
}

table thead{
    background-color: var(--bg-thead);
    
    display: flex;

    font-size: 2rem;
    
    line-height: 3.2rem;
    border-top-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem ;
    
}

tr th {
    padding: 1.6rem 2.4rem 1.6rem 4rem;
}


tr{
    display: flex;
    text-align: left;
    align-items: center;
    
}


.table-user{
    width: 30rem;
    text-align: start;
    padding-left: 4rem;
    font-weight: 700;
}

.table-rep ,
.table-flw ,
.table-act {
    width: 20rem;
    padding-left: 4rem;

    font-weight: 700;

    font-size: 2rem;
}
.table-act button{
    background-color: transparent;
    border: none;

    color:var(--cc-button-act);

    font-size: 2rem;
    font-weight: 700;

    cursor: pointer;
}


tr td{
    padding: 2.4rem;
}

#user{
    display: flex;
    align-items: center;
    gap: 1.6rem;
    
}
#user span{
    font-weight: 400;
    font-size: 1.6rem;
}


#user img{
    height: 56px;
    width: 56px;
    border-radius: 50%;
}
#user a{
    text-decoration: none;
    color:var(--cc-white-80) ;
    display: flex;
    flex-direction: column;
    gap: .8rem;

    
}

tbody tr:nth-child(even) {
    border-top:1px solid #4A808C;
    border-bottom: 1px solid #4A808C;
    background-color: #06181C;
}

tbody tr:nth-child(odd){
    background: #06161B80;
    
    
}
tbody :last-child{
    border-bottom-left-radius:1.2rem;
    border-bottom-right-radius:1.2rem;
    /* border-bottom: none; */
}


